{%- block form_row -%}
<div id="{{ form.vars.id }}_container" class="nowaste-form-row-container">
  {{ form_label(form) }}
  {{ form_errors(form) }}
  {{ form_widget(form) }}
</div>
{%- endblock form_row -%}

{%- block checkbox_row -%}
  {% if 'checkbox' in form.vars.block_prefixes %}
<div id="{{ form.vars.id }}_container" class="nowaste-form-row-container">
  <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} checked="checked"{% endif %} />
  <label for="{{ form.vars.id }}">{{ form.vars.label }}</label>
</div>
  {% endif %}
{%- endblock checkbox_row -%}

{%- block file_row -%}
  <script type="text/javascript">
    $(function() {
      $('#{{ form.vars.id }}').on('change', function() {
        var str = '';
        if ( $(this).val() ) {
          str = new String($(this).val()).substring($(this).val().lastIndexOf('\\') + 1);
        }
        $('#{{ form.vars.id }}-fakefile').html(str);
      });
      $('#{{ form.vars.id }}').parents('form').first().on('reset', function() {
        $('#{{ form.vars.id }}-fakefile').html('');
      });
    });
  </script>
  <div class="nowaste-file-row nowaste-form-row-container">
    <div class="nowaste-file-label">
      {{ form_label(form) }}
    </div>
    <div class="nowaste-file-container">
      <div class="nowaste-file-hide">
        {{ form_widget(form) }}
      </div>
      <div class="nowaste-file-show">
        <span class="nowaste-fakefile-text hidden-sm">{{ 'Csatolás'|trans }}</span>
        <span id="{{ form.vars.id}}-fakefile" class="nowaste-fakefile"></span>
      </div>
    </div>
  </div>
{%- endblock file_row -%}
