<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <title>{% block metatitle %}NoWaste{% endblock metatitle %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
{% block stylesheets %}
    <link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/bundles/app/css/nowaste.css') }}" rel="stylesheet">
{% endblock stylesheets %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/js/jquery-1.12.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/bundles/app/js/site.js') }}"></script>
{% endblock javascripts %}
  </head>

  <body>
{% block container %}
    <div class="container-fluid nowaste-main-container">
      {{ render(controller('AppBundle:Site:Header', { slug: app.request.get('slug'),  mainpage: (app.request.get('_route') == 'app_homepage') })) }}
      <div class="container nowaste-body-container">
      {% block body %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
      {% endblock body %}
      </div>
      {{ render(controller('AppBundle:Site:Footer')) }}
    </div>
{% endblock container %}
  </body>

</html>
