<div class="nowaste-mainpage-box">
  <h4>{% block boxtitle %}{{ page.pageTitle|raw }}{% endblock boxtitle %}</h4>
  <div class="nowaste-mainpage-box-content">
    {% block boxcontent %}
    {{ page.boxcontent|raw }}
    <a href="{{ url('app_page', { slug: page.slug }) }}" class="nowaste-btn nowaste-mainpage-box-btn">Tovább</a>
    {% endblock boxcontent %}
  </div>
</div>
