<span class="top">{{ 'Eddig'|trans }}</span>
<div class="counter-display">{{ number }}</div>
<span class="bottom">{{ 'elektronikai hulladék újrahasznosításáról és ártalmatlanításáról gondoskodtunk'|trans }}</span>