{% extends 'AppBundle:Site:box.html.twig' %}

{% block boxtitle %}Engedélyek & letölthető dokumentumok{% endblock boxtitle %}

{% block boxcontent %}
{% if items|length %}
<ul class="nowaste-mainpage-download-list nowaste-download-list">
{% for item in items %}
  <li>
    <span class="nowaste-download-title">{{ item.title|raw }}</span>
    <span class="nowaste-download-description">{{ item.description|raw }}</span>
    <a class="nowaste-download-link" target="_blank" href="{{ files_path ~ item.file }}">Letöltés</a>
  </li>
{% endfor %}
</ul>
<a href="{{ url('app_page', { slug: 'letoltesek' }) }}" class="nowaste-btn nowaste-mainpage-box-btn">Tovább</a>
{% endif %}
{% endblock boxcontent %}
