Üzenetet küldtek a weboldalról:<br />
<br />
Név: {{ datas.name }}<br />
Email: {{ datas.email }}<br />
Üzenet: {{ datas.msg }}<br />
Tel: {{ datas.tel }}<br />
Hírlevél: {% if datas.newsletter is defined %}Igen{% else %}Nem{% endif %}<br />
{% if datas.file != '' %}
<br />
<br />
<b>Az üzenethez file-t is töltöttek fel ({{ datas.file }}), mely a levélhez csatolva található</b>
{% endif %}
<br />
http://www.nowaste.hu<br />
{{ "now"|date("Y-m-d H:i:s") }}
