<footer>
  <div class="container-fluid nowaste-footer-top">
    <div class="container nowaste-footer-top-container">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
        <a href="{{ url('app_homepage') }}">
          <img src="{{ asset('/images/logo.png') }}" alt="NoWaste logo" title="{{ 'Főoldal'|trans }}" />
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
        {{ render(controller('AppBundle:Site:Contentbox', { zone: 'footer_phone' })) }}
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
        {{ render(controller('AppBundle:Site:Contentbox', { zone: 'footer_email' })) }}
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
        {{ render(controller('AppBundle:Site:Contentbox', { zone: 'footer_social' })) }}
      </div>
    </div>
  </div>
  <div class="container-fluid nowaste-footer-bottom">
    <div class="container nowaste-footer-bottom-container">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        {{ render(controller('AppBundle:Site:Contentbox', { zone: 'footer_address' })) }}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs">
        {{ render(controller('AppBundle:Site:Contentbox', { zone: 'footer_contact' })) }}
      </div>
      <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        <!-- PLACEHOLDER -->
      </div>
      <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
        <ul class="nowaste-footer-menu">
        {% for item in menuitems %}
          <li class="nowaste-footer-menu-item">
            <a href="{{ url('app_page', { slug: item.slug }) }}">{{ item.title}}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container nowaste-footer-bottommost-container">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        {{ 'Copyright'|trans }}&copy; {{ "now"|date('Y') }}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <ul class="nowaste-footer-menu">
        {% for item in footermenuitems %}
          <li class="nowaste-footer-menu-item">
            <a href="{{ url('app_page', { slug: item.slug }) }}">{{ item.title }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
