{% block header %}
<header>
  <nav class="container navbar navbar-default nowaste-navbar">
    <div class="container-fluid nowaste-navbar-container">
      <div class="navbar-header nowaste-navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nowaste-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nowaste-logo-container" href="{{ url('app_homepage') }}">
          <img src="{{ asset('/images/logo.png') }}" alt="NoWaste logo" title="{{ 'Főoldal'|trans }}" />
        </a>
      </div>
      {% if menuitems|length %}
        <div class="collapse navbar-collapse nowaste-navbar-menu-container" id="nowaste-navbar">
          <ul class="nav navbar-nav">
            {% for item in menuitems %}
              {% set active = item.slug == slug %}
              <li class="{% if active %}active{% endif%}">
                <a href="{{ url('app_page', { slug: item.slug }) }}">{{ item.title }}{% if active %}<span class="sr-only">(current)</span>{% endif %}</a>
              </li>
            {% endfor %}
          </ul>
          <div class="nowaste-yellow-container hidden-xs">
            <div class="nowaste-yellow-box nowaste-yellow-phone">{{ render(controller('AppBundle:Site:Contentbox', {zone: 'header_phone' })) }}</div>
            <div class="nowaste-yellow-box nowaste-yellow-email">{{ render(controller('AppBundle:Site:Contentbox', {zone: 'header_email' })) }}</div>
            <div class="nowaste-local-changer"><a href="{{ url('app_homepage') }}">Hu</a> | <a href="{{ url('app_page', { slug: 'english' }) }}">En</a></div>
          </div>
        </div>
      {% endif %}
    </div>
{% if mainpage %}
    <div class="nowaste-header-bg hidden-xs">
      <div class="nowaste-counter">{{ render(controller('AppBundle:Site:Counter')) }}
    </div>
{% endif %}
  </nav>
</header>
{% endblock header %}
