{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
  <div class="row nowaste-mainpage-row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      {{ render(controller('AppBundle:Site:Contentbox', { zone: 'mainpage_first_1' })) }}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      {{ render(controller('AppBundle:Site:Contentbox', { zone: 'mainpage_first_2' })) }}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      {{ render(controller('AppBundle:Site:Contentbox', { zone: 'mainpage_first_3' })) }}
    </div>
  </div>
  <div class="row nowaste-mainpage-row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="nowaste-mainpage-box">
        {{ render(controller('AppBundle:Site:Contentbox', { zone: 'mainpage_second_1' })) }}
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      {{ render(controller('AppBundle:Site:Contentbox', { zone: 'mainpage_second_2' })) }}
    </div>
  </div>
  <div class="row nowaste-mainpage-row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4><center>{{ 'Referenciák' }}</center></h4>
      <img src="{{ asset('/images/referenciak.png') }}" alt="Referenciák" title="Referenciák" style="width: 100%; height: auto;" />
    </div>
  </div>
  <div class="row nowaste-mainpage-row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      {{ render(controller('AppBundle:Site:Contentbox', { zone: 'mainpage_third_1' })) }}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      {{ render(controller('AppBundle:Site:Contentbox', { zone: 'mainpage_third_2' })) }}
    </div>
  </div>
{% endblock body %}
