<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <script type="text/javascript">
    $(function() {
      window.setTimeout(function() {
        $('#modal').modal();
        $('form[name="contactform"]').trigger('reset');
      }, 1);
      $('#modal').on('hidden.bs.modal', function() {
        $('#modal').remove();
      });
    });
  </script>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
        <h4>Köszönjük</h4>
      </div>
      <div class="modal-body">
        <p>Ajánlatkérését feldolgozzuk és 3 munkanapon belül válaszolunk. Amennyiben sürgős elszállítást kér, keresse kollegáinkat telefonon.</p>
        <div class="modal-contact-button"><a href="{{ url('app_page', { slug: 'kapcsolat' }) }}">Kapcsolat</a></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
