{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
  <div class="row nowaste-row">
    <div class="col-lg-8 col-md-8  col-sm-8 col-xs-12 nowaste-page-container nowaste-page-{{ page.slug }}{% if page.rightTop != null %} nowaste-has-righttop{% endif %}{% if page.rightBottom != null %} nowaste-has-rightbottom{% endif %}">
      <div class="nowaste-page-header"{% if (page.headerImage) %} style="height:{{ page.height }}px; background: url('{{ images_path~page.headerImage }}');"{% endif %}>
        <h1>{{ page.pageTitle|raw }}</h1>
        <h2>{{ page.header|raw }}</h2>
      </div>
      <div class="nowaste-page-content">
{% if page.module in ['content', 'english'] %}
        {{ page.content|raw }}
{% else %}
  {% if items|length %}
  <ul class="nowaste-download-list">
  {% for item in items %}
    <li>
      <span class="nowaste-download-title">{{ item.title|raw }}</span>
      <span class="nowaste-download-description">{{ item.description|raw }}</span>
      <a class="nowaste-download-link" target="_blank" href="{{ files_path ~ item.file }}">Letöltés</a>
    </li>
  {% endfor %}
  </ul>
  {% endif %}
{% endif %}
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 nowaste-page-right">
      {% if page.rightTop != null %}
      <div class="nowaste-page-right-box">
        {{ render(controller('AppBundle:Site:Contentbox', { zone: page.rightTop.zone })) }}
      </div>
      {% endif %}
      {% if page.rightBottom != null %}
      <div class="nowaste-page-right-box">
          {{ render(controller('AppBundle:Site:Contentbox', { zone: page.rightBottom.zone })) }}
      </div>
      {% endif %}
    </div>
  </div>
{% endblock body %}
