@font-face {
  font-family: 'NextWeb';
  src: url('/fonts/nextweb.ttf') format('truetype');
}
@font-face {
  font-family: 'NextWeb_Med';
  src: url('/fonts/nextweb_med.ttf') format('truetype');
}
@font-face {
  font-family: 'NextWeb_Bold';
  src: url('/fonts/nextweb_bold.ttf') format('truetype');
}
body {
  background-color: #f6f6f6;
  font-family: 'NextWeb';
}
header {
  width: 100%;
  background-color: #d8e9e8;
  padding-bottom: 100px;
}
a {
  color: initial;
}
a:hover, a:visited {
  text-decoration: none;
}
.nowaste-main-container {
  margin: 0 auto;
  padding: 0;
}
.nowaste-navbar {
  border: none;
  padding: 9px 0 4px 0;
  background-color: #d8e9e8;
}
.nowaste-navbar-container {
  padding: 0;
}
.nowaste-navbar-header {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.nowaste-logo-container {
  margin: 0;
  padding: 0;
  width: 205px;
  height: 50px;
  margin-left: 0 !important;
}
.nowaste-navbar-menu-container {
  margin: 0;
  padding: 0;
  float: left;
  width: calc(100% - 205px);
}
@media (max-width: 768px) {
  .nowaste-navbar-menu-container {
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
  }
  .nowaste-navbar-menu-container ul li {
    display: block !important;
  }
  .nowaste-navbar-menu-container ul li {
    font-size: 16px;
  }
}

.nowaste-navbar-menu-container ul {
  margin-top: 30px;
  margin-left: 50px;
  width: calc(100% - 50px);
  display: table;
}

.nowaste-navbar-menu-container ul li {
  white-space: nowrap;
  overflow: visible;
  display: table-cell;
  float: none;
}


.nowaste-navbar-menu-container ul li a {
  padding: 5px 10px !important;
  margin: 0 !important;
  font-family: 'NextWeb';
  text-align: center;
  font-size: 16px;
  display: block;
}
.nowaste-navbar-menu-container ul li.active a {
  background-color: transparent !important;
  border-bottom: 2px solid #000000;
  color: #000000;
  font-weight: bold;
}
.nowaste-navbar-menu-container ul li a:hover {
  cursor: pointer;
  background-color: #0f252a !important;
  color: #ebebeb !important;
}

@media (max-width: 1199px) {
  .nowaste-navbar-menu-container ul li a {
    font-size: 14px;
  }
}
.nowaste-yellow-container {
  position: absolute;
  top: 0;
  right: 30px;
}
.nowaste-yellow-box {
  float: left;
  background-color: #ffe72e;
  color: #000000;
  padding: 5px 10px;
  margin-right: 5px;
}
.nowaste-local-changer {
  float: left;
  padding: 5px 10px;
  background-color: #000000;
  color: #ffffff;
}
.nowaste-local-changer a {
  color: #ffffff;
}
.nowaste-header-bg {
  margin-top: 60px;
  background: url('/images/header_main_bg.png');
  background-size: cover;
  width: 100%;
  height: 320px;
}
.nowaste-counter {
  margin: 50px auto 0 auto;
  width: 250px;
}
.nowaste-counter span {
  display: block;
  text-align: center;
  font-size: 12px;
}
.counter-display {
  width: 250px;
  height: 55px;
  background: url('/images/counter_bg.png');
  font-family: 'NextWeb_Bold';
  font-size: 40px;
  letter-spacing: 8.8px;
  padding-left: 12px;
  border-radius: 5px;
  box-shadow: 5px 0 1px #000000;
}
.nowaste-body-container {
  margin-top: -130px;
  position: relative;
}
.nowaste-page-container {
  margin-top: 50px;
  background-color: #ffffff;
  padding: 0 !important;
  -webkit-box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
  -moz-box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
  box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
}
.nowaste-page-header {
  background-size: cover !important;
  border-top: 3px solid #000000;
}
.nowaste-page-header h1 {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .nowaste-page-header h1 {
    font-size: 25px;
  }
}
.nowaste-page-header h2 {
  font-size: 25px;
  margin-left: 20px;
  margin-top: 0;
}
.nowaste-page-content {
  padding: 30px 20px 20px 20px;
}
.nowaste-page-right-box:first-of-type {
  margin-top: 50px;
}
.nowaste-page-right-box {
  width: 100%;
  background-color: #ffffff;
  border-top: 3px solid #000000;
  padding: 10px 30px 35px 10px;
  margin-top: 15px;
  -webkit-box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
  -moz-box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
  box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
}
.nowaste-page-right-box h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.nowaste-page-right-box #contactform div,
.nowaste-page-right-box #contactform_english div {
  min-height: 50px;
}
.nowaste-page-right-box #contactform label,
.nowaste-page-right-box #contactform_english label {
  display: block;
  margin-top: 10px;
  font-weight: normal;
}
.nowaste-page-right-box #contactform input,
.nowaste-page-right-box #contactform textarea,
.nowaste-page-right-box #contactform_english input,
.nowaste-page-right-box #contactform_english textarea {
  width: 100%;
  border: 1px solid #e7f3e7;
  padding: 3px;
}
.nowaste-page-right-box #contactform input[type="checkbox"],
.nowaste-page-right-box #contactform_english input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-top: 15px;
  margin-right: 10px;
  vertical-align: top;
}
.nowaste-page-right-box #contactform input[type="checkbox"] + label,
.nowaste-page-right-box #contactform_english input[type="checkbox"] + label {
  display: inline-block;
  width: 60%;
  
}
.nowaste-btn {
  background: url('/images/btn_bg.png');
  background-size: 29px 29px;
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 35px;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  float: right;
  height: 29px;
}
footer {
  margin-top: 50px;
}
.nowaste-footer-top {
  background-color: #e4e4e4;
  height: 90px;
}
.nowaste-footer-top-container {
  padding-top: 26px;
}
.nowaste-footer-bottom {
  background-color: #3b3b3a;
  height: 165px;
}
.nowaste-footer-bottom-container {
  margin-top: 45px;
  color: #ffffff;
}
.nowaste-footer-bottom-container a {
  color: #ffffff !important;
}
.nowaste-footer-menu {
  padding: 0;
  margin: 0;
}
.nowaste-footer-menu-item {
  position: relative;
  list-style-type: none;
  display: inline-block;
  float: left;
  margin-right: 12px;
  font-size: 13px;
}
.nowaste-footer-menu-item a {
  color: #ffffff;
}
.nowaste-footer-menu-item a:after {
  display: block;
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: 1px;
  background-color: white;
  right: -6px;
}
.nowaste-footer-menu-item:last-of-type a:after {
  display: none;
}
.nowaste-footer-bottommost-container div {
  margin-top: 15px;
  color: #ffffff;
  vertical-align: bottom;
}
.nowaste-page-kapcsolat h1 {
  background-color: #ffffff;
  display: inline-block;
  padding: 5px;
}
.nowaste-page-kapcsolat h6 {
  font-size: 26px;
  padding-left: 40px;
  min-height: 30px;
  line-height: 30px;
  background-position: left top;
  background-repeat: no-repeat;
}
.nowaste-page-kapcsolat h6:nth-of-type(1) {
  background-image: url('/images/icon-phone.png');
}
.nowaste-page-kapcsolat h6:nth-of-type(2) {
  background-image: url('/images/icon-mobile.png');
}
.nowaste-page-kapcsolat h6:nth-of-type(3) {
  background-image: url('/images/icon-email.png');
}
.nowaste-page-kapcsolat h6:nth-of-type(4) {
  background-image: url('/images/icon-address.png');
}
.nowaste-row {
/*  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  justify-content: space-between;*/
}
.nowaste-file-row {
  display: inline-block;
  width: 100%;
}
.nowaste-file-label {
  float: left;
  width: 50%;
}
.nowaste-file-container {
  float: right;
  width: 50%;
  position: relative;
  height: 30px;
}
.nowaste-file-hide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 2;
}
.nowaste-file-hide > input {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.nowaste-file-hide > input:hover {
  cursor: pointer;
}
.nowaste-file-show {
  background: url('/images/icon-file.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px 30px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 40px;
  line-height: 60px;
  height: 30px;
  font-weight: bold;
}
.nowaste-fakefile-text {
  line-height: initial;
  float: right;
  display: inline;
  margin-top: 20px;
}
.nowaste-fakefile {
  line-height: initial;
  display: inline;
  font-size: 10px;
  float: right;
  font-weight: normal;
}
.nowaste-mainpage-row {
  margin-top: 35px;
}

.nowaste-mainpage-row:first-of-type {
  margin-top: 80px;
}
.nowaste-mainpage-row:nth-of-type(2) .nowaste-mainpage-box {
  min-height: 280px;
}
.nowaste-mainpage-row:nth-of-type(4) .nowaste-mainpage-box {
  min-height: 200px;
}
#contactform_send {
  bottom: 10px !important;
}
@media (max-width: 992px) {
  .nowaste-mainpage-row:nth-of-type(2) .nowaste-mainpage-box {
    min-height: 330px;
  }
}
.nowaste-mainpage-row h4,
.nowaste-mainpage-row h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.nowaste-mainpage-box {
  border-top: 3px solid #000000;
  background-color: #ffffff;
  min-height: 150px;
  padding: 0 15px;
  font-size: 14px;
  -webkit-box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
  -moz-box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
  box-shadow: 13px 13px 30px 0px rgba(173,173,173,0.3);
}
.nowaste-mainpage-box-btn,
.nowaste-mainpage-box .nowaste-btn {
  position: absolute;
  bottom: 0;
  right: 15px;
  line-height: 30px;
}
#contactform_newsletter_container {
  width: 400px;
}
#contactform_newsletter_container label {
  margin-left: 10px;
}
@media (max-width: 768px) {
  .nowaste-mainpage-box {
    margin-top: 15px;
  }
}
.nowaste-mainpage-box .nowaste-form-row-container {
  width: 50%;
  float: left;
  display: table;
  table-layout: fixed;
  margin: 10px 0;
}
.nowaste-mainpage-box #contactform_name_container label {
  width: 30px;
}
.nowaste-mainpage-box #contactform_name_container input {
  width: 220px;
}
.nowaste-mainpage-box #contactform_email_container label {
  width: 30px;
  margin-right: 10px;
}
.nowaste-mainpage-box #contactform_email_container input {
  width: 220px;
}
.nowaste-mainpage-box #contactform_msg_container {
  width: 100%;
}
.nowaste-mainpage-box #contactform_msg_container label {
  width: 70px;
  margin-right: 10px;
  vertical-align: top;
}
.nowaste-mainpage-box #contactform_msg_container textarea {
  width: 440px;
}
.nowaste-mainpage-box #contactform_tel_container label {
  width: 30px;
}
.nowaste-mainpage-box #contactform_tel_container input {
  width: 220px;
}
@media (max-width: 768px) {
  .nowaste-mainpage-box #contactform_name_container label {
    width: 30px;
  }
  .nowaste-mainpage-box #contactform_name_container input {
    width: 140px;
  }
  .nowaste-mainpage-box #contactform_email_container label {
    width: 30px;
    margin-right: 10px;
  }
  .nowaste-mainpage-box #contactform_email_container input {
    width: 130px;
  }
  .nowaste-mainpage-box #contactform_msg_container {
    width: 100%;
  }
  .nowaste-mainpage-box #contactform_msg_container label {
    width: 70px;
    vertical-align: top;
  }
  .nowaste-mainpage-box #contactform_msg_container textarea {
    width: 347px;
  }
  .nowaste-mainpage-box #contactform_tel_container label {
    width: 30px;
  }
  .nowaste-mainpage-box #contactform_tel_container input {
    width: 140px;
  }  
}
@media (max-width: 992px) {
  .nowaste-mainpage-box #contactform_name_container label {
    width: 30px;
  }
  .nowaste-mainpage-box #contactform_name_container input {
    width: 110px;
  }
  .nowaste-mainpage-box #contactform_email_container label {
    width: 30px;
    margin-right: 10px;
  }
  .nowaste-mainpage-box #contactform_email_container input {
    width: 110px;
  }
  .nowaste-mainpage-box #contactform_msg_container {
    width: 100%;
  }
  .nowaste-mainpage-box #contactform_msg_container label {
    width: 70px;
    vertical-align: top;
  }
  .nowaste-mainpage-box #contactform_msg_container textarea {
    width: 307px;
  }
  .nowaste-mainpage-box #contactform_tel_container label {
    width: 30px;
  }
  .nowaste-mainpage-box #contactform_tel_container input {
    width: 110px;
  }  
}
@media (max-width: 1200px) {
  .nowaste-mainpage-box #contactform_name_container label {
    width: 30px;
  }
  .nowaste-mainpage-box #contactform_name_container input {
    width: 170px;
  }
  .nowaste-mainpage-box #contactform_email_container label {
    width: 30px;
    margin-right: 10px;
  }
  .nowaste-mainpage-box #contactform_email_container input {
    width: 150px;
  }
  .nowaste-mainpage-box #contactform_msg_container {
    width: 100%;
  }
  .nowaste-mainpage-box #contactform_msg_container label {
    width: 70px;
    vertical-align: top;
  }
  .nowaste-mainpage-box #contactform_msg_container textarea {
    width: 330px;
  }
  .nowaste-mainpage-box #contactform_tel_container label {
    width: 30px;
  }
  .nowaste-mainpage-box #contactform_tel_container input {
    width: 170px;
  }
  #contactform_newsletter_container {
    width: 350px;
  }
}
@media (max-width: 768px) {
  label[for="contactform_newsletter"] {
    font-size: 10px;
  }
}

.nowaste-mainpage-box .nowaste-fakefile-text {
  margin-top: 10px;
}
.nowaste-download-list {
  padding: 0;
  margin: 15px 0 0 0;
}
.nowaste-download-list li {
  list-style-type: none;
  background: url('/images/download-icon.png');
  background-repeat: no-repeat;
  background-size: 31px 37px;
  background-position: left center;
  height: 50px;
  padding-left: 40px;
  border-bottom: 2px solid #000000;
  margin-top: 12px;
}
.nowaste-download-list li:last-of-type {
  border-bottom: none;
}
.nowaste-download-title {
  font-size: 16px;
  float: left;
}
.nowaste-download-description {
  font-size: 16px;
  font-weight: bold;
  float: left;
  clear: both;
}
.nowaste-download-link {
  float: right;
  display: block;
  height: 30px;
  background: url('/images/download-icon-right.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: right center;
  padding-right: 40px;
  margin-top: -20px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 16px;
}
.nowaste-has-righttop {
  min-height: 534px;
}
.nowaste-has-rightbottom {
  min-height: 777px;
}
@media (max-width: 1200px) {
  .nowaste-has-righttop {
    min-height: 554px;
  }
  .nowaste-has-rightbottom {
    min-height: 778px;
  }
}
@media (max-width: 992px) {
  .nowaste-has-righttop {
    min-height: 593px;
  }
  .nowaste-has-rightbottom {
    min-height: 777px;
  }
}
@media (max-width: 768px) {
  .nowaste-has-righttop {
    min-height: 0;
  }
  .nowaste-has-rightbottom {
    min-height: 0;
  }
}
.modal-content {
  border-top: 3px solid #000000;
  border-radius: 0;
}
.modal-header {
  border-bottom: none;
}
.modal-header h4 {
  font-size: 20px;
  text-transform: uppercase;
}
.modal-header button {
  position: absolute;
  top: 0;
  right: -25px;
  color: #000000;
}
.modal-header button span {
  color: #000000;
}
.modal-contact-button {
  width: 93px;
  height: 30px;
  background: url('/images/modal-button.png');
  background-repeat: no-repeat;
  line-height: 30px;
  padding-left: 5px;
  font-size: 12px;
}
.nowaste-page-english {
  min-height: 772px;
}
